<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7kI-kWCinS_kxqSufAsLx4JIEae9Cn7A</string>
	<key>GCM_SENDER_ID</key>
	<string>760921739188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tidasports.partner</string>
	<key>PROJECT_ID</key>
	<string>tidasports-60eaa</string>
	<key>STORAGE_BUCKET</key>
	<string>tidasports-60eaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760921739188:ios:9552beae500bb036022ce1</string>
	<key>DATABASE_URL</key>
	<string>https://tidasports-60eaa-default-rtdb.firebaseio.com</string>
</dict>
</plist>